
<div class="admin-sidebar">
    <div class="card mb-3 shadow-sm">
        <div class="card-header d-flex align-items-center justify-content-between">
            <strong class="mb-0">Actions on News</strong>
        </div>

    </div>
</div>




