@{
    var lang = Context.Request.Cookies["Language"];
    bool isBangla = (lang == Languages.Bangla.ToString()) ? true : false;
}

@if(isBangla)
{
    @if (TempData["MessageBangla"] != null)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            @TempData["MessageBangla"]
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
    }

    @if (TempData["Error"] != null)
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            @TempData["ErrorBangla"]
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
    }

}
else
{
    @if (TempData["Message"] != null)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            @TempData["Message"]
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
    }

    @if (TempData["Error"] != null)
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            @TempData["Error"]
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
    }
}




