@model List<News_Portal.Core.DTO.News.HomePageNewsToShowDTO>
@if (Model == null || Model.Count == 0)
{
}
else
{
    <section class="hero-section">
        <div class="row g-2 g-md-3">
            <div class="col-12">
                <div class="hero-container">
                    @await Html.PartialAsync("~/Views/Shared/PartialViews/LargeNewsCard.cshtml", Model[0])
                </div>
            </div>

            @if (Model.Count > 1)
            {
                @for (int i = 1; i <= 4 && i < Model.Count; i++)
                {
                    <div class="col-6 col-md-12">
                        <article class="compact-item" data-index="@i">
                            @await Html.PartialAsync("~/Views/Shared/PartialViews/HomePageItemCard3.cshtml", Model[i])
                        </article>
                    </div>
                }
            }
        </div>
    </section>
}
