@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    SideBarDTO sideBarDTO = new SideBarDTO();
}

<div class="container-fluid mt-3">
    <div class="row gx-4">
        <main role="main" class="col-12 col-md-8 col-lg-9">
            <div class="card shadow-sm">
                <div class="card-body">
                    @RenderBody()
                </div>
            </div>
        </main>

        <aside class="col-12 col-md-4 col-lg-3">
            @await Html.PartialAsync("~/Areas/Admin/Views/Shared/PartialViews/_RightSidebar.cshtml", sideBarDTO)
        </aside>
    </div>
</div>
@await RenderSectionAsync("Scripts", required: false)
@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

