.suggestion-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: .25rem;
}

.row {
    margin-bottom: .25rem;
}

.row > [class^="col-"],
.row > [class*=" col-"] {
    display: flex;
}
.row > [class^="col-"] > *:first-child,
.row > [class*=" col-"] > *:first-child {
    width: 100%;
}

::deep .suggestion-card {
    height: 100%;
}

@media (hover:hover) {
    ::deep .suggestion-card:hover {
        box-shadow: 0 .6rem 1.2rem rgba(0,0,0,.18);
        transform: translateY(-3px);
    }
}

@media (max-width: 576px) {
    .row { margin-bottom: .2rem; }
}